name: test-target

on:
  pull_request_target:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: test
        run: |
          # run test
          if [[ "${{ github.head_ref }}" == "" ]]; then
            echo "1"
          else
            echo "2"
          fi
          echo "Name: ${{ github.ref_name }} Base: ${{ github.base_ref }} Ref: ${{ github.ref }}"
  
